.test {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.registerTitle {
  font-size: 50px;
}

.registerForm {
  width: 80%;
  margin-top: 20;
  display: flex;
  flex-direction: column;
}
.registerButton {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 10px;
}
.registerForm > label {
  margin: 10px 0;
}
.testContainer {
  width: 900px;
}
.testSignInContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

@media (min-width: 720px) {
  .testSignInContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .testSignInContainer:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .testSignInContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }
  .signInImageHolder {
    width: 50%;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
  .testFormHolder {
    width: 50%;
    overflow: hidden;
  }
}

.signInImageHolder {
  width: 70%;
}

img {
  width: 100%;
  object-fit: cover;
}
.testFormHolder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  border-bottom: 1px solid #999;
  outline: none;
}
.registerRegisterButton {
  position: absolute;
  top: 90px;
  right: 90px;
  background-color: teal;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
}
@media (max-width: 600px) {
  .registerRegisterButton {
    top: 120px;
    right: 30px;
  }
  .test {
    padding-left: 10px;
    padding-right: 10px;
  }
}
