.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;
}
.headerTitleSm {
  position: absolute;
  top: 8.5%;
  font-size: 20px;
}
.headerTitleLg {
  position: absolute;
  top: 8.5%;
  font-size: 100px;
}
.headerImage {
  width: 100%;
  height: 20em;
  object-fit: cover;
  object-position: 10% 90%;
  margin-top: 4em;
}
@media screen and (max-width: 720px) {
  .headerTitleSm {
    top: 11.5%;
  }
  .headerTitleLg {
    top: 11.5%;
  }
  .headerImage {
    object-position: 50% 90%;
  }
}
